/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
/* src/App.css */


.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.film-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
  background-color: #f9f9f9;
  transition: transform 0.3s;

}

.film-card img {
  border-radius: 10px;

}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}



.film-card:hover {
  transform: scale(1.05);
}
